[Unit]
Description=chronicle timescaledb

[Container]
Image=timescale/timescaledb:latest-pg16
PublishPort=5432:5432
Volume=chronicle-timescaledb-data:/var/lib/chronicle/data
Environment=POSTGRES_DB=chronicle
Environment=POSTGRES_USER=chronicle
Environment=POSTGRES_PASSWORD=${PG_PASSWORD}
Restart=always

[Install]
WantedBy=default.target
