[Unit]
Description=chronicle graphql engine

[Container]
ContainerName=chronicle-hasura
Image=hasura/graphql-engine:v2.39.0
PublishPort=8080:8080
Volume=chronicle-hasura-metadata:/hasura-metadata
Volume=chronicle-hasura-migrations:/hasura-migrations
Environment=HASURA_GRAPHQL_DATABASE_URL=postgres://chronicle:${PG_PASSWORD}@host.containers.internal:5432/chronicle
Environment=HASURA_GRAPHQL_ENABLE_CONSOLE=true
Environment=HASURA_GRAPHQL_DEV_MODE=true
Restart=always

[Install]
WantedBy=default.target
